## 1. Complete the following code to find the area of an equilateral triangle. Output should be as displayed

In [ ]:
import math
side = float (input("Enter the side of the equilateral triangle: "))
area = ((math.sqrt(3))/4)*pow(side,2)
print("Area =", round(area,3))

Enter the side of the equilateral triangle: 7
Area = 21.218

## 2. Write a program to count the number of each characters in a string

In [ ]:
chara=input("Enter the name :")
c=len(chara)
print(c)
i=1
for i in range(0,c):
    d= chara.count(chara[i])
    print(chara[i],"=",d)

Enter the name :ict academy
11
i = 1
c = 2
t = 1
  = 1
a = 2
c = 2
a = 2
d = 1
e = 1
m = 1
y = 1

## Write a program to find the area and perimeter of a rectangle using functions

In [ ]:
def area(l,b):
  return(l*b)
def perimeter(l,b):
   return 2*(l+b)
l=int(input("Enter lenght of rectangle :"))
b=int(input("Enter breadth of rectangle :"))
print("Area=",area(l,b))
print("Perimeter=", perimeter(l,b))

## 4. Write a program to print the fibonacci series till a specified number

In [ ]:
n=int(input("Enter lenght of sereis"))
su=0
no=1
print("First",n,"number of fibonacci sereis are")
for i in range (0,n):
    b=su
    su=su+no
    no=b
    print(su,end ='  ')

Enter lenght of sereis6
First 6 number of fibonacci sereis are
1  1  2  3  5  8

## 5. Complete the following code to find the minimum of 3 number using cinditional statements. Output should be as displayed

In [ ]:
a,b,c = input("Enter each numbers followed by ,  : ").split(",")

print("First number :",a)
print("Second number :",b)
print("Third number :",c)
if (a==b==c):
    print("Entered numbers are equal!!!")
elif (a<b and a<c):
    print(a," a is smallest")
elif (b<a and b<c):
    print(b,"b is smallest")
elif (c<a and c<b):
    print(c,"c is smallest")

Enter each numbers followed by ,  : 3,-11,12
First number : 3
Second number : -11
Third number : 12
-11 b is smallest

In [ ]:
3,-11,12

Enter three numbers followed by  : 3 -11 12
First number : 3
Second number : -11
Third number : 12
-11  is smallest

## 6. Write a program to print star pyramind. The number of rows should be taken as input from the user

In [ ]:
n=int(input("Enter number of rows"))
i=1
for i in range (i,n+1):
  print(i*"*")

## 7. Complete the following code to convert hour into seconds. Output should be as displayed

In [ ]:
def to_seconds(t):
    
    return t*3600
time_in_hours = int(input("Enter Hour :"))
print(time_in_hours ," Hour is equal to" ,to_seconds(time_in_hours) ," Seconds")

Enter Hour1
1  Hour is equal to 3600  Seconds

## 8. Write a program to print multiplication table as below

In [ ]:
n=int(input("Enter a number to find the multiplication table::"))
i=0
for i in range (1,11):
    print(i,"*",n,"=",i*n)

Enter a number to find the multiplication table::7
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

## 9. Write a program to take your 5 favorite food as list and print each as 'I like Biriyani'

In [1]:
food=input("Enter your favourite 5 food items :")
food2=food.split(",")
for names in food2:
      print("I like ", names)

Enter your favourite 5 food itemsapple, oranges, grapes, water melon, cb
I like  apple
I like   oranges
I like   grapes
I like   water melon
I like   cb

## 10. Find error(s) in the following code(if any) and rewrite code.

In [4]:
x= int(input("Enter the value of x :"))
for y in range (1,11):
    if x==y:
        print("They are equal")
    else:
         print( "They are unequal")

Enter the value of x :10
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are equal